[Unit]
Wants=network.target
After=network.target
After=flyovrio-first-run.service

[Service]
EnvironmentFile=/boot/flyovrio-978env
SyslogIdentifier=flyovrio-978
RuntimeDirectory=flyovrio-978
User=flyovrio
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/flyovrio-978-start
Type=simple
Restart=on-failure
RestartSec=30
Nice=5

[Install]
WantedBy=default.target
