[Unit]
Description=flyovrio-feed
Wants=network.target
After=network.target
After=flyovrio-first-run.service

[Service]
User=flyovrio
EnvironmentFile=/boot/flyovrio-config.txt
RuntimeDirectory=flyovrio-feed
RuntimeDirectoryMode=0755
ExecStart=/usr/local/bin/flyovrio-feed.sh
Type=simple
Restart=on-failure
RestartSec=30
RestartPreventExitStatus=64
SyslogIdentifier=flyovrio-feed

[Install]
WantedBy=default.target
